* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: yellow;
}

form {
  width: 450px;
  margin: 50px auto 0;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .3);
}

h1 {
  text-align: center;
  padding: 10px 0 40px;

}

.form-item {
  margin-bottom: 20px;
}

.txt {
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding: 0 10px;
  border: none;
  outline: none;
  border: 1px solid #999;
  border-radius: 6px;
}

.txt:focus {
  border: 1px solid #5ab365;
}

select.txt {
  width: 100%;
  height: 100px;
  padding: 10px 0 0 10px;
}

textarea.txt {
  width: 100%;
  height: 150px;
  padding: 10px;
  resize: none;
}


.code input {
  width: 200px;
  vertical-align: 1px;
}


button {
  width: 160px;
  height: 45px;
  background: #5ab365;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}


.checkbox input {
  margin-right: 5px;
  vertical-align: -2px;
}

.checkbox span {
  color: #aaa;
}

#agree:checked {
  border-color: #5ab365;
  background-color: #5ab365 !important;
}

#agree:checked + span {
  color: #000;
}



.sex > span {
  margin-right: 10px;
}

.sex label {
  margin-right: 5px;
}

.sex input + span {
  color: rgba(0, 0, 0, .5);
  margin-left: 5px;
  vertical-align: 1px;
}

.sex input:checked + span {
  color: rgba(0, 0, 0, 1);
}
